<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" 
              content="width=device-width, initial-scale=1">
        <meta name="description"
              content="Martwa skrzynka o matematyce, grach fabularnych i tematach pokrewnych.">
        <title>Cierpliwość-zasadzka - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link href="rss.xml" 
              rel="alternate" 
              type="application/atom+xml"
              title="Cierpliwość-zasadzka" />
        <link href="/images/zniecheta.ico" rel="shortcut icon" />
        <link rel="stylesheet"
              href="/css/Concrete/cmun-concrete.css"></link>
        <link rel="stylesheet"
              href="/css/Serif/cmun-serif.css"></link>
    </head>
    <body>
        <header>
            <div class="logo">
                <img class="navbar-logo" src="/images/zniecheta.gif">
                <a href="/">Cierpliwość-zasadzka</a>
            </div>
            <nav>
                <a href="/">Główna</a>
                <a href="/about.html">O</a>
                <a href="/archive.html">Archiwum</a>
            </nav>
        </header>
        <hr>
        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>
        
        <footer>
            W oparciu o  
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </footer>
        <script id="dsq-count-scr" src="//cierpliwosc-zasadzka.disqus.com/count.js" async></script>
    </body>
</html>
